.user-details-container .text-center {
    position: sticky;
    top: 0;
    background-color: #f6f6f6;
    z-index: 1;
  }

.user-details-container .p-5 {
    padding-top: 40px;
  }

.selector::-webkit-scrollbar {
    width: 8px; 
  }
  
.selector::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
.selector::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 4px; 
  }
  
.selector::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }